
@{
    ViewData["Title"] = "Device";
}
<h1>Device</h1>

<table class="table">
    <thead>
      <tr>
        <th>Device ID</th>
        <th>Model</th>
        <th>Description</th>
 
      </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.device_id</td>
                <td>@item.model</td>
                <td>@item.description</td>
                <!-- <td> <a href="#">Off: Turn it on</a></td> -->
            </tr>
        }
    </tbody>
  </table>

