@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" >

        <div class="item active">
            <img src="~/images/banner5.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Cloud Assisted Agriculture</h2>
        <p>
            Una centralina di controllo, dotata di opportuni sensori (temperatura, umidità, ecc.) invia i dati relativi a una certa 
            porzione di terreno in Cloud, dove, tramite la gestione di opportune policy agricole, che, tenendo conto oltre che della serie
             di dati ricevuti dal sensore, anche di dati di contesto provenienti da altre fonti (per esempio, previsioni metereologiche),
              piloteranno degli strumenti agricoli connessi (per esempio, irrigatori) per mantenere le condizioni del terreno
               a livello ottimale. Un'applicazione web mostrerà grafici e statistiche sui dati raccolti dai sensori e permetterà
                di definire semplici policy agricole.
        </p>
    </div>
    
</div>
